<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Link Inteligente</title>
	</head>
	<body>
	{% set youtubeApp = "vnd.youtube://"~ytLink %}
	{% set youtubeDesktop = "https://youtube.com/watch?v="~ytLink %}
		<script type="text/javascript">
			window.onload = function() {

				if({{ Tools.isMobile ? 'true':'false'  }}) {
					window.location = "{{ youtubeApp }}";
					window.setTimeout(function() {
						window.location = "{{ youtubeDesktop }}";
					}, 5*1000);
				} else {
					window.location = "{{ youtubeDesktop }}";
				}

				function killPopup() {
					window.removeEventListener('pagehide', killPopup);
				}

				window.addEventListener('pagehide', killPopup);
			};
		</script>
		<h3>Carregando...</h3>
	</body>
</html>

